<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.UserDao">

	<select id="findUserByUsername" resultType="userDO">
		select *
		from sys_user
		where username = #{value}
	</select>

    <select id="findUserById" parameterType="string" resultType="userDO">
		select *
		from sys_user
		where user_id = #{value}
	</select>

    <sql id="list_where">
        <where>
            <if test="deptId != null and deptId != ''.toString()">
                and dept_id = #{deptId}
            </if>
            <if test="name != null and name != ''.toString()">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="username != null and username != ''.toString()">
                and username = #{username}
            </if>
        </where>
    </sql>
    <select id="list" parameterType="com.bootdo.common.utils.Query" resultType="userDO">
        select *
        from sys_user
        <include refid="list_where"></include>
        <choose>
            <when test="sort != null and sort != ''.toString()">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by user_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" parameterType="com.bootdo.common.utils.Query" resultType="int">
        select count(*)
        from sys_user
        <include refid="list_where"></include>
    </select>

    <insert id="save" parameterType="com.bootdo.system.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(`username`, `name`, `password`, `dept_id`, `email`,
		  `mobile`, `status`, `user_id_create`, `gmt_create`, `gmt_modified`,
		  `sex`, `birth`, `pic_id`, `live_address`, `hobby`,
		  `province`, `city`, `district`)
		values
		(#{username}, #{name}, #{password}, #{deptId}, #{email},
		 #{mobile}, #{status}, #{userIdCreate}, #{gmtCreate}, #{gmtModified},
		 #{sex}, #{birth}, #{picId}, #{liveAddress}, #{hobby},
		 #{province}, #{city}, #{district})
	</insert>

    <update id="update" parameterType="com.bootdo.system.domain.UserDO">
        update sys_user
        <set>
            <if test="username != null">`username` = #{username}, </if>
            <if test="name != null">`name` = #{name}, </if>
            <if test="password != null">`password` = #{password}, </if>
            <if test="deptId != null">`dept_id` = #{deptId}, </if>
            <if test="email != null">`email` = #{email}, </if>
            <if test="mobile != null">`mobile` = #{mobile}, </if>
            <if test="status != null">`status` = #{status}, </if>
            <if test="userIdCreate != null">`user_id_create` = #{userIdCreate}, </if>
            <if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
            <if test="gmtModified != null">`gmt_modified` = #{gmtModified}, </if>
            <if test="sex != null">`sex` = #{sex}, </if>
            <if test="birth != null">`birth` = #{birth}, </if>
            <if test="picId != null">`pic_id` = #{picId}, </if>
            <if test="liveAddress != null">`live_address` = #{liveAddress}, </if>
            <if test="hobby != null">`hobby` = #{hobby}, </if>
            <if test="province != null">`province` = #{province}, </if>
            <if test="city != null">`city` = #{city}, </if>
            <if test="district != null">`district` = #{district}</if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="remove" parameterType="long">
        delete from sys_user
        where user_id = #{val}
    </delete>

    <delete id="batchRemove">
        delete from sys_user
        where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>